/***************************           Landing Page            *******************************/
#set-background-color {
    background-color: #000507;
}

#title {
    position:sticky;
    margin-top: 48px;
    margin-left: 48px;
    font-family: 'Futura';
    font-size: 3vw;
    font-weight: 700;
    color: #FFFFFF;
}

#responsive-map {
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    display: block;
}

#map-key {
    position: relative;
    margin-left: 48px;
}

#key-title {
    font-family: 'Futura';
    font-weight: 500;
    font-size: 1.5vw;
    color: #FFFFFF;
}

ul {
    list-style-type: none; /* to remove the bullet points */
    padding-top: 1vh;
}

li {
    font-family: 'Futura';
    font-weight: 500;
    font-size: 1.1vw;
    float: left;
}

#high {
    color: #E0F6F6;
    padding-left: 1vw;
}

#low {
    color: #598392;
    padding-right: 1vw;
}

.key-box {
    width: 2vw;
    height: 2vw;
}

#box-low {
    background-color: #E0F6F6;
}

#box-less {
    background-color: #AEC2C3;
}

#box-mid {
    background-color: #598392;
}

#box-high{
    background-color: #124559;
}

/***************************           Map Interaction            *******************************/
/* Reference for the code in this section: https://codepen.io/codecustard/pen/NWpZxey */

path {
    opacity: 30%;
}

.active {
    opacity: 100%;
}

.active:hover {
    fill: #B90202 !important;
    stroke: white !important;
    stroke-width: 2.5px !important;
    cursor: pointer;
    box-shadow: 0 0 5px white;
    transition: .15s ease;
}

/***************************           Spotlight Modal            *******************************/

#background {
    Width: 100%;
    height: 100%;
    background-color: #01161E;
}

#transparent-title {
    opacity: 20%;
}

.card {
    position: fixed;
    width: 960px;
    height: 648px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background: white;
    border-radius: 24px;

    padding: 40px;
    text-align: left;
    position: fixed;
    z-index: 1; /* Sit on top */

    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

#cross {
    float:right;
    font-family: 'Futura';
    font-size: 30px;
    color: #01161E;
    vertical-align:middle;
}

#cross:hover {
    color:#B90202;
    text-decoration: none;
}

.column-left {
    float: left;
    width: 45%;
}

.column-right {
    float: left;
    width: 55%;
    padding-left: 50px;
}

#main-image {
    width: 100%;
}

#image-caption {
    font-style: italic;
    text-align: center;
    padding-top: 12px;
}

#building-state {
    font-family: 'Futura';
    font-size: 40px;
    color: #01161E;
    font-weight: 500;
}

#divider {
    font-family: 'Futura';
    font-size: 40px;
    color: #01161E;
    font-weight: 500;
}

#building-name {    
    font-family: 'Futura';
    font-size: 40px;
    color: #01161E;
    font-weight: 700;
}

.quick-facts {
    font-family: 'Futura';
    font-size: 20px;
    line-height: 27px;
    color: #124559;
    font-weight: 500;
}

.fact-constant {
    font-weight: bold;
}

#building-description-1 {
    font-family: 'Futura';
    font-size: 16px;
    color: #598392;
    font-weight: 500;
}

#building-description-2 {
    font-family: 'Futura';
    font-size: 16px;
    color: #598392;
    font-weight: 500;
}

.spacer {
    height: 24px;
}

#spacer-paragraph {
    height: 12px;
}

/* .column-left #overlay-text {
    position: relative;
    visibility: hidden;
    text-align: center;
}

.column-left:hover #overlay-text {
    visibility: visible;
}

#main-image:hover {
    fill: white;
    opacity: 50%;
    transition: .25s ease;
} */
